@import 'include-media';
$breakpoints: (phone: 525px, tablet: 1000px, desktop: 1024px);

.button-container {
  width: 100%;
  min-width: 60px;
  height: 10vw;
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 0;
}


.icon-content {
  height: 70%;
  position: relative;
  background-color: #d5e6f2;
}

.icon {
  // font-size: 5vw;
  // transform: translateY(0.5vw);

  transform: translateY(2.5vw) scale(3);

  @include media(">phone","<tablet") {
    transform: translateY(1vw) scale(1.5);
  }

  @include media("<phone") {
    transform: translateY(-0.5vw) scale(0.5);
  }
}


.label-body {
  position: relative;
  height: 30%;

}

.label{
  width: 100%;
  font-size: 2vw;
  // display: block;
}

.fix-top {
  // top: 70%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
