.button-container {
  width: 180px;
  height: 140px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.icon {
  font-size: 55px;
}

.icon-content {
  background-color: #d5e6f2;
  padding: 10px 0px 10px 0px;
  height: 55%;
  position: relative;
}

.label-body {
  position: relative;
  height: 30%;
  padding-bottom: 10px;
}

.label{
  display: block;
}

.fix-top {
  top: 70%;
}
