.banner {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #3f51b5;
}

.title {
  color: #d0d238;
  font-family: 'Lobster', cursive;
  font-size: 32px;
  padding-top: 5px;
}

.message {
  color: #FFF;
  font-size: 9px;
  margin-top: 7em;
  margin-bottom: 0;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 1;
  text-align: left;
}
