<div class="banner">
  <h1 class="title">Paga 20 euro con EasyPay e riceverai un cashback di 5 euro*  </h1>
  <p class="message">
    *offerta valida fino al 25 gennaio 2025 e per i nuovi abbonati e altri avvisi legali utili a far
    sembrare questo banner un vero banner pubblicitario di una ipotetica promozione. I soldi verranno caricati sul conto entro 30 mesi
    (perciò in questa demo non saranno realmente caricati).  Il seguente testo è inutile e al solo scopo illustrativo.
    Mi scuso per la pessima resa grafica del Banner, ma la sua presenza è a puro scopo illustrativo. La prossima volta ci affideremo ad un grafico
     per un banner più colorato e divertente.</p>
</div>
