.login-body {
  height: 170px;
  // min-width: 205px;

}

.content {
  margin: 30px;
}

.buttons-container {
  text-align: right;
  margin-right: 2em;
}

.active {
  color: #25bb25;
}

.block {
  display: block;
}
