.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inputs {

  &-pay {
    margin-left: 40px;
  }

  &-button {
    align-self: flex-end;
    margin-right: 40px;
    margin-bottom: 15px;
  }
}

[hidden] {
  display: none !important;
}
