.flex-container {
  display: flex;
  justify-content: space-between;
}

.inputs {

  &-pay {
    margin-left: 40px;
  }

  &-button {
    align-items: flex-end;
    margin-right: 40px;
    margin-bottom: 15px;
  }
}
