.logo {
  $nfc-icon-size: 90px;
  width: $nfc-icon-size;
  height: $nfc-icon-size;

  & ::ng-deep svg {
    width: $nfc-icon-size;
    height: $nfc-icon-size;
  }
}

.logo-title {

}

.content {
  margin: 20px;
  min-height: 175px;
}

.customer-rs {
  margin: 0;
}

.customer-name {
  margin: 0;
  font-size: 12px;
}
