.form {
  margin-top: 2em;
}


.login ::ng-deep.mat-button-wrapper {
  font-size: 0.7em;
}

.join-container {
  min-height: 100px;
}

.slider {
  pointer-events: none;

  &> * {
    cursor: default;
  }
}


.user-types-radio {
  &-group {
    margin: 10px;
  }

  &-button {
    display: block;
    text-align: center;
    width: 150px;
    margin: 10px auto;
  }
}

.move button {
  margin: 10px;
}
