.title {
  margin: 30px;
}

.info {
  text-align: left;
  margin-left: 4em;
  margin-right: 4em;
  width: auto;
}

.labels, .values {
  display: inline-block;
}

.label {
  font-weight: 700;
  // display: inline-block;
}

.value {
  margin-left: 1em;
  // display: inline-block;
}
