<h1 class="title">{{title}}</h1>
<div class="info">
  <div class="labels">
    <div class="info--conto label">Num. Conto:</div>
    <div class="info--name label">Nome:</div>
    <div class="info--reg label">Regione Sociale:</div>
    <div class="info--addr label">Indirizzo:</div>
  </div>
  <div class="values">
    <div class="info--conto value">{{numConto}}</div>
    <div class="info--name value">{{name}}</div>
    <div class="info--reg value">{{regSocial}}</div>
    <div class="info--addr value">{{address}}</div>
  </div>
</div>


<!-- <div class="info">
  <div class="info--conto"><span class="label">Num. Conto:</span><span class="value">{{numConto}}</span></div>
  <div class="info--name"><span class="label">Nome:</span><span class="value">{{name}}</span></div>
  <div class="info--reg"><span class="label">Regione Sociale:</span><span class="value">{{regSocial}}</span></div>
  <div class="info--addr"><span class="label">Indirizzo:</span><span class="value">{{address}}</span></div>
</div> -->
