<h1 class="title">{{title}}</h1>
<div class="info">
  <div class="labels">
    <div class="info--conto label">Num. Conto:</div>
    <div class="info--name label">Nome:</div>
    <div *ngIf="regSocial" class="info--reg label">Regione Sociale:</div>
    <div class="info--addr label">Indirizzo:</div>
  </div>
  <div class="values">
    <div class="info--conto value">{{numConto || '-'}}</div>
    <div class="info--name value">{{name || '-'}}</div>
    <div *ngIf="regSocial" class="info--reg value">{{regSocial}}</div>
    <div class="info--addr value">{{address || '-'}}</div>
  </div>
</div>
