<!-- scanner -->
<div [hidden]="!(statusScanner$ | async)">
  <zxing-scanner
    class="qr-reader"
    [(device)]="currentDevice"
    [formats]="allowedFormats"
    (camerasFound)="onCamerasFound($event)"
    (scanSuccess)="scanSuccessHandler($event)"
    (permissionResponse)="readerStatus($event)"
    [tryHarder]="true"
  ></zxing-scanner>
</div>

<!-- gestione in caso di scanner disabilitato o non funzionante -->
<div [hidden]="statusScanner$ | async">
  <mat-icon svgIcon="qrcode" class="qr-icon"></mat-icon>
  <div class="qr-message">abilitare il lettore qrcode.</div>
</div>
