.container {
  display: flex;
  justify-content: space-around;
}

.marg {
  margin: 5px;
}

::ng-deep.rechargetost.success {
  background-color: #156402;

  ::ng-deep.mat-button {
    color: #000 !important;
  }
}

::ng-deep.rechargetost.failure {
  background-color: #990707;
}
