
  $marginBorder: 6%;

.container {
  margin-top: 50px;
  margin-right: $marginBorder;
  margin-left: $marginBorder;
}

mat-toolbar-row {
  margin-right: $marginBorder - 2%;
  margin-left: $marginBorder - 2%;
}
