<div>
  <form class="form" [formGroup]="formCrl">
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="username*" formControlName="username" />
        <mat-error *ngIf="formCrl.controls['username'].hasError('required')"> Username <strong>obbligatorio</strong> </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password*" formControlName="password"/>
        <mat-error *ngIf="formCrl.controls['password'].hasError('minLength') || formCrl.controls['password'].hasError('maxLength') || formCrl.controls['password'].hasError('numeric')">
          il pin è composto da 4-16 cifre <strong>numeriche</strong>
        </mat-error>
        <mat-error *ngIf="formCrl.controls['password'].hasError('required')"> pin obbligatorio per il login </mat-error>
      </mat-form-field>
    </div>
    <div class="login">
        <button mat-button color="primary" [disabled]="formCrl.status === 'INVALID'" (click)="login()">Login</button>
    </div>
    <div class="join">
      <button mat-button color="primary" (click)="join()">Crea un nuovo account</button>
    </div>
  </form>
</div>
