<div class="content">
  <div ngSwitch="LoginType">
    <div *ngSwitchCase="LoginType.pin"></div>
    <div *ngSwitchCase="LoginType.gr"></div>
    <div *ngSwitchCase="LoginType.nfc"></div>
  </div>
</div>
<button mat-icon-button (click)="changeLogin(LoginType.pin)">
  <mat-icon svgIcon="textbox-password"></mat-icon>
</button>
<button mat-icon-button (click)="changeLogin(LoginType.gr)" class="mr-2 ml-2">
  <mat-icon svgIcon="qrcode"></mat-icon>
</button>
<button mat-icon-button (click)="changeLogin(LoginType.nfc)">
  <mat-icon svgIcon="nfc-variant"></mat-icon>
</button>
