<div fxLayout="column" fxLayoutAlign="start stretch">
  <form class="form" [formGroup]="formCrl">
    <div fxFlex>
      <mat-form-field>
        <input matInput placeholder="nome*" formControlName="nome" />
        <mat-error *ngIf="formCrl.controls['nome'].hasError('required')">
          nome <strong>obbligatorio</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex>
      <mat-form-field>
        <input matInput placeholder="cognome*" formControlName="cognome" />
        <mat-error *ngIf="formCrl.controls['cognome'].hasError('required')">
          cognome <strong>obbligatorio</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex>
      <mat-form-field>
        <input matInput placeholder="codice fiscale*" formControlName="cf" />
        <mat-error *ngIf="formCrl.controls['cf'].hasError('required')">
          codice fiscale <strong>obbligatorio</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex>
      <mat-form-field>
        <input matInput placeholder="email*" formControlName="email" />
        <mat-error *ngIf="formCrl.controls['email'].hasError('required')">
          email <strong>obbligatorio</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field>
        <input
          matInput
          placeholder="data di nascita*"
          [matDatepicker]="bornDatePicker"
          formControlName="bornDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="bornDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #bornDatePicker></mat-datepicker>
        <mat-error *ngIf="formCrl.controls['bornDate'].hasError('required') && !formCrl.controls['bornDate'].hasError('matDatepickerParse')">
          data di nascita <strong>obbligatoria</strong>.
        </mat-error>
        <mat-error *ngIf="formCrl.controls['bornDate'].hasError('matDatepickerParse')">
          formato della data errato.
        </mat-error>
        <mat-error *ngIf="formCrl.controls['bornDate'].hasError('isOver18')">
          l'utente deve essere maggiorenne
        </mat-error>
        <mat-error *ngIf="formCrl.controls['bornDate'].hasError('isBorn')">
          Sicuramente avremo offerte molto più belle per quando nascerai!
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field>
        <input matInput placeholder="telefono" formControlName="phone" />
        <mat-error *ngIf="formCrl.controls['phone'].hasError('required')">
          telefono <strong>obbligatorio</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxFlex>
      <mat-form-field>
        <input matInput placeholder="indirizzo" formControlName="address" />
        <mat-error *ngIf="formCrl.controls['address'].hasError('required')">
          address <strong>obbligatorio</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
