$color: #f00;
.logo {
  $nfc-icon-size: 90px;
  width: $nfc-icon-size;
  height: $nfc-icon-size;
  color: $color;

  & ::ng-deep svg {
    width: $nfc-icon-size;
    height: $nfc-icon-size;
  }
}

.logo-title {
  color: $color;
}
