  <!-- a caricamento del conto mostra l'applicazione -->
  <ng-container *ngIf="(statusLoader$ | async) === LoadingStatus.SUCCESS">
    <h1 class="mb-0">
      <mat-icon svgIcon="bank" class="logo"></mat-icon>
    </h1>
    <h2 class="logo-title mt-0">EasyPay</h2>
    <p class="price">{{ prezzo$ | async | currency: 'EUR':'symbol':'1.2' }}</p>
    <div>
      <p class="customer-rs">{{ (contoCommerciante$ | async).nomenclatura }}</p>
      <p class="customer-name">{{ (contoCommerciante$ | async).nome }}</p>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <button mat-icon-button queryParamsHandling="preserve" [routerLink]="['pin']">
      <mat-icon svgIcon="textbox-password"></mat-icon>
    </button>
    <button mat-icon-button queryParamsHandling="preserve" [routerLink]="['qr']" class="mr-2 ml-2">
      <mat-icon svgIcon="qrcode"></mat-icon>
    </button>
    <button mat-icon-button queryParamsHandling="preserve" [routerLink]="['nfc']">
      <mat-icon svgIcon="nfc-variant"></mat-icon>
    </button>
  </ng-container>

  <!-- caricamento del conto fallito -->
  <app-error
    *ngIf="(statusLoader$ | async) === LoadingStatus.FAILED"
    titleLabel="Impossibile procedere con il pagamento. Se il problema persiste contattare il venditore"
    content="SUGGERIMENTO PER IL VENDITORE: assicurarsi che il idConto e prezzo siano validi"
    [error]="error$ | async"
  ></app-error>
