<h2 mat-dialog-title>Informazioni ATM</h2>
<mat-dialog-content class="mat-typography">
  <div class="info">
    <div class="labels">
      <div class="info--id label">Identificativo Utente:</div>
      <div class="info--name label">Nome:</div>
      <div class="info--cf label">CF:</div>
      <div class="info--birth-date label">Data nascita:</div>
      <div class="info--email label">Email:</div>
      <div class="info--rag label">Ragione Sociale:</div>
      <div class="info--piva label">P.Iva:</div>
      <div class="info--addr label">Indirizzo:</div>
      <div class="info--phone label">Tel.:</div>
      <div class="info--conto label">Num. Conto:</div>
      <div class="info--saldo label">Saldo:</div>
    </div>
    <div class="values">
      <div class="info--id value">{{selfStore.id || '-'}}</div>
      <div class="info--name value">{{selfStore.cognome}} {{selfStore.nome}} </div>
      <div class="info--cf value">{{selfStore.cf}}</div>
      <div class="info--birth-date value">{{selfStore.birthDate}}</div>
      <div class="info--email value">{{selfStore.email}}</div>
      <div class="info--rag value">{{selfStore.ragSociale}}</div>
      <div class="info--piva value">{{selfStore.pIva}}</div>
      <div class="info--addr value">{{selfStore.address || '-'}}</div>
      <div class="info--phone value">{{selfStore.phone || '-'}}</div>
      <div class="info--conto value">{{selfStore.idConto || '-'}}</div>
      <div class="info--saldo value">{{selfStore.saldo || '-'}}</div>
    </div>
  </div>

  </mat-dialog-content>
