.flex-parent {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.flex {
  position: relative;
  flex-grow: 1;
}

.mb20 {
  margin-bottom: 20px
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

/* Small screens */
@media all and (max-width: 600px) {
  .ml10 {
    margin-left: 0px;
  }

  .mr10 {
    margin-right: 0px;
  }
}
