<div class="flex-parent">
  <div class="flex widget-container shadow-border mb20 mr10">
    <app-recognition class="relative recognition"></app-recognition>
  </div>
  <div class="flex widget-container shadow-border mb20 ml10">
    <app-info-widget
      class=" info-table"
      title="Personale"
      [numConto]="this.selfStore.idConto"
      [name]="this.selfStore.cognome +' '+ this.selfStore.nome"
      [regSocial]="this.selfStore.regSociale"
      [address]="this.selfStore.address"
    ></app-info-widget>
  </div>
</div>

<div class="flex-parent">
  <div class="widget-container shadow-border flex mb20">
    <app-price-widget title="Pagamento" operationLabel="Paga" [canInvoice]="true"></app-price-widget>
  </div>
</div>

<div class="flex-parent">
  <div class="widget-container shadow-border spam-widget">
    <app-banner></app-banner>
  </div>
</div>
