.container {
  display: flex;
  justify-content: space-around;
}

.marg {
  margin: 5px;
}

::ng-deep.paytost.success {
  background-color: #156402;
}

::ng-deep.paytost.failure {
  background-color: #990707;
}
