.login-widget {
  width: 90%;
  min-width: 200px;
  max-width: 430px;
  height: 250px;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.info_conto {
  position: absolute;
  top: 0;
  right: 0;
}

.spam-widget {
  position: absolute;
  top: 0;
  left: 0;
}
