<mat-grid-list cols="6" rowHeight="300px">
  <mat-grid-tile colspan="2" rowspan="1">
    <div class="widget-container login-widget shadow-border">
      <app-login></app-login>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
      <app-big-button
        class="info_conto"
        label="Info Conto"
        icon="info"
        (clickEmitter)="clickInfo()"
      ></app-big-button>
  </mat-grid-tile>

  <mat-grid-tile colspan="6" rowspan="1">
    <div class="widget-container shadow-border spam-widget">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum diam posuere, tincidunt sapien sit amet, faucibus erat. Sed semper eu quam at facilisis. Suspendisse accumsan pulvinar velit eu sollicitudin. Nulla massa neque, pretium a cursus at, sodales id enim. Pellentesque volutpat, ante eu varius luctus, lacus magna sollicitudin risus, ut tristique odio enim vulputate odio. Sed eu justo augue. Fusce sem enim, gravida ac sollicitudin sit amet, sagittis ac est. Aenean aliquam vulputate sem vitae porta. Morbi eget magna sapien. In in interdum ante. Ut nisi enim, fermentum sed enim vitae, accumsan mattis mauris. Praesent vel nisl lorem. Vestibulum eu urna feugiat, dapibus massa sit amet, laoreet lorem.
    </div>
</mat-grid-tile>
</mat-grid-list>
