<mat-grid-list [cols]="breakpoint" rowHeight="1:1" gutterSize="20px" (window:resize)="onResize($event)">
  <mat-grid-tile colspan="2" rowspan="2" >
    <div class="widget-container login-widget shadow-border">
      <app-login></app-login>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="breakpoint ===  maxCol" class="empty" colspan="3" rowspan="2" ></mat-grid-tile>
  <mat-grid-tile [colspan]="breakpoint ===  maxCol ? 1 : 2" rowspan="1" >
    <app-big-button
      class="info_conto"
      label="Info Conto"
      icon="info"
      (clickEmitter)="clickInfo()"
    ></app-big-button>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="breakpoint ===  maxCol" class="empty" colspan="1" rowspan="1" ></mat-grid-tile>
  <mat-grid-tile *ngIf="breakpoint ===  maxCol" colspan="6" rowspan="1" >
    <div class="widget-container shadow-border spam-widget">
      <app-banner></app-banner>
    </div>
  </mat-grid-tile>
</mat-grid-list>


