<mat-grid-list cols="6" rowHeight="300px">
  <mat-grid-tile colspan="2" rowspan="1">
    <div class="widget-container login-widget shadow-border">
      <app-login></app-login>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <app-big-button
      class="info_conto"
      label="Info Conto"
      icon="info"
      (clickEmitter)="clickInfo()"
    ></app-big-button>
  </mat-grid-tile>

  <mat-grid-tile colspan="6" rowspan="1">
    <div class="widget-container shadow-border spam-widget">
      <app-banner></app-banner>
    </div>
  </mat-grid-tile>
</mat-grid-list>
